
body{font-family: 'Poppins', sans-serif; background-color: azure;}

/* carousel styles  */
.carouselImage{height: 485px;}
.logo{height: 150px; width: 150px; border-radius: 50%;}
/* success student styles */
.SuccessStudent , .studentFeedback{transform: scale(0.9);}
.start-feedback {color: gold;}
.questionImage{height: 20%; width: 30%; border-radius: 20px;}
/* icon styles */
.prevIcon{margin-left: -38px; margin-top:-20%; color: cyan;}
.nextIcon{margin-top:-20% ; margin-right: -40px; color: rgba(0, 255, 255, 0.4);}
.dropdownIcon{height:23px ; width: 23px;}